@font-face {
  font-family: "CustomFont";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "CustomFont", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  height: 90vh;
}

.gridContainer {
  display: grid;
  gap: 1.25rem;
  margin-top: 3.05rem;
  margin-left: 38%;
}

.gridContainer > div {
  padding-inline: 0.625rem;
  border-radius: 0.3125rem;
}

.item1 {
  background-color: #faeee2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 530;
  font-size: 2.1875rem;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: -0.1875rem;
  height: 20rem;
  width: 12.5rem;
  padding-left: 1.25rem;
}

.item1 img {
  margin-top: 0.625rem;
}

.item2 {
  background-color: #7651dc;
  grid-column: 2 / span 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  height: 16.25rem;
  width: 26.875rem;
}

.item2 p {
  font-weight: 540;
  font-size: 2.9rem;
}

.item2 img {
  width: 9.375rem;
  padding-top: 0.4375rem;
}

.item2 .over {
  font-size: 0.9rem;
  font-weight: 300;
}

.item3 {
  background-color: #dcd1fc;
  grid-column: 3 / span 0;
  margin-right: 31.25rem;
  width: 13.75rem;
  height: 31.25rem;
  margin-bottom: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
  object-fit: contain;
  overflow: hidden;
}

.item3 p {
  font-size: 1.375rem;
  font-weight: 700;
  padding-left: 0.625rem;
  letter-spacing: -0.0625rem;
  padding-bottom: 0.625rem;
}

.item3 img {
  height: 18.125rem;
  width: fit-content;
  padding-left: 0.625rem;
  border-radius: 1.25rem;
}

.item3 .opt {
  font-size: 0.9375rem;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  font-weight: 350;
}

.item4 {
  background-color: #ffffff;
  grid-column: 2 / span 1;
  grid-row: 2;
  margin-top: -15.625rem;
  height: 12.5rem;
  width: 13.125rem;
  object-fit: contain;
  overflow: hidden;
}

.item4 img {
  height: 4.375rem;
  width: 16.875rem;
  padding-left: 0.625rem;
}

.item4 p {
  font-size: 1.5625rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
  line-height: 1.5625rem;
}

.item5 {
  background-color: #ffcc69;
  grid-column: 3;
  grid-row: 3 / span 0;
  height: 12.5rem;
  margin-top: -15.625rem;
  height: 12.5rem;
  width: 12.5rem;
  overflow: hidden;
}

.item5 img {
  width: 10.625rem;
  padding-top: 1.25rem;
  padding-left: 0.625rem;
  object-fit: cover;
}

.item5 p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5625rem;
}

.item6 {
  background-color: #7651dc;
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  font-size: x-large;
  width: 12.5rem;
  margin-top: -2.8125rem;
  height: 10.3125rem;
  width: 27.4375rem;
}

.item6 img {
  object-fit: contain;
  height: 9.375rem;
}

.item7 {
  background-color: #ffffff;
  grid-column: 2;
  grid-row: 3;
  margin-top: -2.8125rem;
  height: 10.3125rem;
  width: 13.125rem;
}

.item7 span {
  font-weight: 540;
}

.item7 span, p {
  padding: 0.3125rem;
}

.item7 img {
  padding-top: 0.625rem;
}

.item8 {
  background-color: #ffcc69;
  grid-row: 3 / span 0;
  grid-column: 1;
  height: 20.625rem;
  font-size: 1.875rem;
  width: 12.5rem;
  margin-top: -13.125rem;
}

.item8 p {
  margin: 0.625rem;
  font-size: 1.875rem;
  font-weight: 540;
  line-height: 1.875rem;
  letter-spacing: -0.125rem;
}

.item8 img {
  height: 11.25rem;
  width: 11.125rem;
  margin-top: 1.25rem;
  margin-left: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-right: 0.3125rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 350px) and (max-width: 450px){
 
  .mainContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    align-items: center;
  }

 
  .gridContainer {
    display: flex !important;       
    flex-direction: column;         
    align-items: center;
     gap: 1rem;                   
    margin-left: 0 !important;     
    width: 100%;
  }

  
  .gridContainer > div {
    width: 90% !important;
    height: auto;                   
    margin: 0 auto;                 
  }
  
  .gridContainer img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  
  .item4,
  .item5,
  .item6,
  .item7,
  .item8 {
    margin-top: 0 !important;
  }

  
  .gridContainer p,
  .gridContainer span {
    text-align: center;
    word-wrap: break-word;
  }
}


/* FOR BETTER PRACTICE DONT USE NEGATIVE NUMBERS AS MUCH */
